<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Work Out</title>
</head>
<body>
    <nav>
      <a href="/">HOME</a>
      <a href="/workouts">ALL WORK OUTS</a>
      <% if (user) { %>
        <h1><%=user.name%>'s</h1>
        <a href="/plans">Workout Plan</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img class="logo" src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>


