<%- include('../partials/header') %>

<section>
<h1>Arms</h1>
<ul>
    <li>Dumbell Curls</li><button>ADD</button>
    <li>Barbell Curl</li><button>ADD</button>
    <li>Cable Curls</li><button>ADD</button>
    <li>Skull Crushers</li><button>ADD</button>
    <li>Squats</li><button>ADD</button>
    <li>Deadlift</li><button>ADD</button>
</ul>

<h1>Legs</h1>
<ul>
    <li>Lunges</li><button>ADD</button>
    <li>Step-ups</li><button>ADD</button>
    <li>Back-raises</li><button>ADD</button>
    <li>Laying Press Barbell</li><button>ADD</button>
</ul>


</section>

<%- include('../partials/footer') %>