<%- include('../partials/header') %>
<form method="POST" action="/plans">
<tbody>
    <% workouts.forEach(function(w) { %>
    <tr>
        <li class="accordion" id="accordionExample">
            <%= w.category %> |&nbsp
            <%= w.name %>&nbsp&nbsp&nbsp<input type="submit" value="ADD WORKOUT">
        </li>
    </tr>
      <% }); %>
</tbody>
</form>
<%- include('../partials/footer') %>