<%- include('../partials/header') %>

<section>
  <h2>Body Groups</h2>
  <div>
    <a href="">ARMS WORKOUTS</a><br>
    <a href="">LEGS WORKOUTS</a><br>
  <a href="">CHEST WORKSOUTS</a><br>
</div>
</section>

<%- include('../partials/footer') %>