<%- include('./partials/header') %>

<h2>Make a work out plan!</h2>
<div class="homeLogo">
    <img src="https://i.imgur.com/0ltPoyT.png" alt="BG" style="width:100%;">
</div>

<%- include('./partials/footer') %>