
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #20201e;
}

body > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #06c5eb;
}
	
li {
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
  list-style: none;
}

h1 {
  /* font-family: 'Bangers', cursive; */
  text-align: center;
  font-size: 10px;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 10px;

}

div {
  justify-content: left;
}