
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #20201e;
}
body {
  background-image: url("https://i.imgur.com/ZvG9RsW.png"), url("paper.gif");
  background-repeat: no-repeat;
  background-position: center;
}

body > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #06c5eb;
}
	
li {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
  list-style: none;
}

h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 35px;
  text-align: center;
}

div {
  justify-content: center;
}