
* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #20201e;
}

body {
  background-image: url("https://i.imgur.com/ZvG9RsW.png"), url("paper.gif");
  background-repeat: no-repeat;
  background-position: center;
}

body > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #06c5eb;
}
	
li {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
  list-style: none;
}

h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 35px;
  text-align: center;
}

#plan-show {
  display: flex;
}

#left {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 48vw;
}


.note-content {
  display: flex;
  flex-direction: column;
  margin: 2vmin;
}

.note-content div {
  display: flex;
  justify-content: center;
}

.note-content p {
  margin: 0;
}

.workout-plan {
  display: flex;
  justify-content: space-between;
  margin: 2vmin;
}

#right {
  width: 48vw;
}